* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*
============== Шрифты ==============
*/
@font-face {
    font-family: MM;
    src: url('../assets/fonts/MM.ttf');
}

@font-face {
    font-family: MB;
    src: url('../assets/fonts/MB.ttf');
}

/*
============== Базовые стили =======
*/

body{
    overflow-x: hidden;
}

:root{
    --border-radius: 600px;
    --border-square-radius: 10px;
    --def-padding: 15px;
    --def-margin: 15px;
    --white-purple:#6392F7;
    --white-blue: #76CAFF;
    --dark-grey: #232323;
    --white-grey: #E8E8E8;
    --primary-color: #F9F9F9;
    --green-color : #63C574;
    --red-color: #EF3C3C;
    --orange-color: #F48445;
    --game-padding: 10px 0.5rem;
}
/*
============== Кнопка инструкции =======
*/
.inst_btn{
    position: fixed;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    border: none;
    width: 51px;
    height: 51px;
    background-image: url('../assets/instruction_icon.png');
    background-position: center;
    background-size: cover;
    transition: all 0.2s ease;
}

.inst_btn:hover{
    background-image: url('../assets/instruction_icon_hover.png');
    transition: all 0.2s ease;
    background-color: #ffffff;
}
.inst_btn.dev{
    background-image: url('../assets/instruction_icon_green.png');
}
.inst_btn.dev:hover{
    background-color: #363636;
    background-image: url('../assets/instruction_icon_green_hover.png');
}

.close-btn{
    background-color: var(--white-purple);
}
.close-btn.yes{
    background-color: var(--green-color);
}

/*
============== Модальные окна =======
*/

.modal-overlay {
    user-select: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(13px);
}

.modal-content {
    z-index: 99999;
    font-family: MM;
    background-color: white;
    padding: 10px;
    border-radius: var(--border-square-radius);
    max-width: 90%;
    text-align: left;
    color: var(--dark-grey);
}

.modal-content h2{
    font-family: MB;
    color: var(--dark-grey);
}

.modal-header{
    margin-bottom: var(--def-margin);
    padding-bottom: var(--def-padding);
    color: var(--white-purple);
    border-bottom: 3px solid var(--white-purple);
    font-family: MB;
    text-align: left;
}

.modal-header-example-text{
    margin: 10px 0px;
    background-color: var(--white-grey);
    padding: 10px 0.5rem;
    border-radius: 10px;
}

.modal-footer button{
    width: 100%;
    height: 45px;
    margin-top: var(--def-padding);
    background-color: var(--white-purple);
    border: none;
    color: white;
    border-radius: var(--border-square-radius);
    transition: 0.2s;
    font-family: MM;
}

.modal-footer button:hover{
    opacity: 0.8;
    transition: 0.2s;
    cursor: pointer;
}
.modal-title {
    margin-bottom: var(--def-margin);
    padding-bottom: var(--def-padding);
    color: var(--white-purple);
    border-bottom: 3px solid var(--white-purple);
    font-family: MB;
    text-align: left;
    font-size: 1.5rem;
}
/*
============== Модальные окна (вопросы) =======
*/
.modal-question {
    background-color: var(--white-grey);
    padding: 15px;
    border-radius: var(--border-square-radius);
    margin-bottom: 10px;
}

.modal-question p {
    margin-bottom: 10px;
    line-height: 1.5;
}

.modal-question p:last-child {
    margin-bottom: 0;
}

.modal-question strong {
    color: var(--white-purple);
}

/*
============== Лого ==============
*/

.logo{
    -webkit-user-drag: none;
    background-color: var(--dark-grey);
    padding: 20px;
    position: fixed;
    width: 100px;
    height: 70px;
    border-radius: 10px;
    top: 10px;
    left: 10px;
}

/*
============== Анимация после прохождения уровней ==============
*/

.end-inner-items-container{
    overflow: hidden;
    backdrop-filter: blur(5px);
    background-color: var(--white-grey);
    font-family: MB;
    color:var(--dark-grey);
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    font-size: 9.6rem;
    left: -100%;
    animation: expand 2s forwards ease;
}

.end-inner-items-container p{
    animation: transparent-transition 1s forwards ease-in;
    animation-delay: 2.5s;
    font-family: MM;
    height: 0px;
    opacity: 0;
    font-size: 2rem;
    width: 100%;
    color: var(--white-purple);
    text-align: center;
    
}

.mkit_cube{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    font-family: MB;
    color: var(--white-grey);
    width: 100px;
    height: 100px;
    z-index: 11000;
    position: absolute;
    opacity: 0;
    animation: MKIT_frames 1s ease forwards;
}

.mkit_cube[cube-id="1"]{
    background-color: var(--white-purple);
    rotate: 45deg;
    top: 65%;
    right: 15%;
    scale: 1.2;
    animation-delay: 4s;
}

.mkit_cube[cube-id="2"]{
    background-color:  var(--orange-color);
    rotate: 67deg;
    top: 40%;
    right: 5%;
    scale: 1.7;
    animation-delay: 4.5s;
}

.mkit_cube[cube-id="3"]{
    background-color: var(--red-color);
    rotate: -60deg;
    top: 35%;
    left: 7%;
    scale: 1.2;
    animation-delay: 3s;

}

.mkit_cube[cube-id="4"]{
    background-color: var(--green-color);
    rotate: 37deg;
    top: 75%;
    left: 25%;
    scale: 1.7;
    animation-delay: 3.5s;
}

/*
============== Смена пути в свитчере =======
*/

.switch-container{
    width: 100px;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: var(--dark-grey);
    border-radius: 600px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: 0.5s;
}

.switch-container.dev{
    background-color: var(--green-color);
    transition: 0.5s;
}

.switch-btn{
    position: relative;
    left: 5px;
    width: 35px;
    height: 35px;
    border-radius: 600px;
    border: none;
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
}

.switch-btn.dev{
    left: 60px;
    transition: 0.5s;
}

/*
============== Выбор пути в инструкции =======
*/

.dev-container{
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    min-height: 200px;
}

.choosen-path{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-repeat: no-repeat;
    min-width: 300px;
    min-height: 300px;
}

.choosen-path[path-id="1"]{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-image: url('../assets/path/dev_path_ico.svg');
}

.choosen-path[path-id="1"]:hover{
    transition: all 0.2s ease-in-out;
    background-image: url('../assets/path/dev_path_ico_hover.svg');
}

.choosen-path[path-id="2"]{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-image: url('../assets/path/default_path_ico.svg');
}

.choosen-path[path-id="2"]:hover{
    transition: all 0.2s ease-in-out;
    background-image: url('../assets/path/default_path_ico_hover.svg');
}

/*
============== СТИЛИ ИГР =======
*/


.game-controls[game-id="findSecret"]{
    background-color: var(--dark-grey);
    display: flex;
    padding: var(--game-padding);
}

.game-controls[game-id="tictactoe"]{
    justify-content: left;
    padding: 10px 0px;
}

.game-controls[game-id="tictactoe"] button{
    width: 100%;
}

.control-panel{
    width: 100%;
    height: 100%;
    background-color: var(--white-grey);
    color: rgb(28, 28, 28);
    padding: var(--game-padding);
    border-radius: 10px;
}

.system-element{
    border-radius: 15px;
    background-color: var(--dark-grey);
    padding: 10px;
    color: white;
}

.system-element.selected{
    background-color: var(--white-purple);
    color: var(--dark-grey);
}

.control-panel-container{
    width: 100%;
    height: 100%;
}
.elements-container{
    border-radius: 10px;
    height: 500px;
    position: relative;
    background-color: #76CAFF;
    background-image: 
    linear-gradient(rgba(255,255,255,0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.2) 1px, transparent 1px);
    background-size: 30px 30px;
}

.control-group input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  background: #e0e0e0;
  border-radius: 3px;
  outline: none;
}

.control-group{
    font-size: large;
    width: 100%;
}

.control-group input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--green-color); 
  cursor: pointer;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  transition: all 0.2s ease;
}

.control-group input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.04);
}


.find-secret-modal-container{
    column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.game-footer{
    position: relative;
    bottom: 40px;
    z-index: 3;
    background-color: var(--dark-grey);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.game-footer .reset-btn{
    background-color: var(--dark-grey);
}
.button-group{
    margin: 10px 0px;
}
.button-group button{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 0px;
    background-color: var(--green-color);
    color: var(--dark-grey);
    font-family: MB;
    cursor: pointer;
    transition:0.2s;
}
.button-group button:hover{
    opacity: 0.8;
    transform: scale(1.04);
    transition:0.2s;
}
.button-group span{
    margin: 0px 10px;
}
.reset-element-btn{
    width: 100%;
    background-color: var(--orange-color);
    border: none;
    padding: 20px;
    border-radius: 10px;
    color: var(--dark-grey);
    font-family: MM;
    cursor: pointer;
    transition: 0.2s;
}
.reset-element-btn:hover{
    opacity: 0.8;
    transition: 0.2s;
}

.flex-playground {
    border-radius: 10px;
    background-color: #76CAFF;
    background-image: 
    linear-gradient(rgba(255,255,255,0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.2) 1px, transparent 1px);
    background-size: 30px 30px;
}
.floating-block {
    width: 100px;
    height: 100px;
    font-size: 60px;
}
.center-div-container{
    display: grid;
    grid-template-columns: repeat(2,600px);
    column-gap: 20px;
}

.slider-container {
    width: 100%;
    margin: 20px 0;
    transition: 0.2s;
}
.css-slider {
    width: 100%;
    margin: 10px 0;
    transition: 0.2s;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 10px;
    transition: 0.2s;
}

.slider-label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    flex: 1;
    padding: 5px;
    cursor: pointer;
    background: #f0f0f0;
    border-radius: 10px;
    font-size: 14px;
    transition: 0.2s;
}

.slider-label.active {
    background: var(--white-purple);
    color: white;
    transition: 0.2s;
}

.control-btn {
    background-color: var(--white-purple);
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: MM;
}

.buttons{
    display: grid;
    margin: 10px 0px;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
}

.floating-block.transforming{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: MB;
}

.computer-cards-container{
    max-height: 700px;
    display: grid;
    min-width: 1000px;
    grid-template-columns: 35% 60%;
    justify-items: center;
    align-items: center;
    
}

.junior-game{
    background-color: var(--dark-grey);
    padding: 20px;
    width: 90%;
    color: white;
    border-radius: 25px;
    font-size: 1rem;
    text-align: center;
}
.junior-game h1{
    margin: 15px 0px;
    font-family: MB;
}

.computer-card-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}
.computer-card{
    color: var(--white-grey);
    background-color: var(--white-purple);
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 140px;
    border-radius: 25px;
    cursor: grab;
    align-items: center;
    justify-content: center;
}


.computer-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.complete-lvl{
    width: 100%;
    background-color: var(--white-purple);
    border: 0;
    padding: 15px;
    border-radius: 15px;
    font-family: MM;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}
.complete-lvl:hover{
    background-color: var(--green-color);
    transition: 0.2s;
}
.computer-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../components/DevPathComponents/images/PC_CASE.svg');
    background-position: center;
    background-size: 56%;
    background-position-x: 41%;
    background-repeat: no-repeat;
}
.junior-game-field{

    background-color: #363636;
    border: 10px solid var(--dark-grey);
    padding: 10px;
    border-radius: 15px; 

    max-width: 550px;
    display: grid;
    grid-template-columns: repeat(6,100px);
    gap: 5px;
    grid-template-rows: repeat(5,70px);
}

.cpu_completed{
    background-image: url('../components/DevPathComponents/images/CPU.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.videocard_completed{
    background-color: white;
}
.ram_completed{
    background-color: white;
}
.motherboard_completed{
    background-color: var(--white-purple);
}
.hdd_completed{
    background-color: white;
}

.computer-component[component-data="hdd"]{
    grid-column: 4;
    grid-row: 6;
    bottom: 0px;
    width: 200px;
    height: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    z-index: 6;
    background-color: #D9D9D9;
}

.computer-component[component-data="power_unit"]{
    background-repeat: no-repeat;
    background-color: var(--white-purple);
    border-radius: 10px;
    grid-column: 1/4;
    grid-row: 5/7;
    z-index: 6;
    
}

.computer-component[component-data="cpu"]{
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 6;
    background-color: var(--dark-grey);
    height: 100px;
    width: 100px;
    border-radius: 25px;
    padding: 15px;
    border: 10px solid #5B5B5B;
}

.computer-component[component-data="videocard"]{
    position: relative;
    grid-row: 4;
    bottom: 40px;
    grid-column: 1/4;
    border-radius: 0px 10px 10px 0px;
    z-index: 7;
    width: 400px;
    height: 70px;
    background-color: #5B5B5B;
}

.computer-component[component-data="motherboard"]{
    right: auto;
    border-radius: 10px;
    z-index: 5;
    grid-row: 1/5;
    grid-column: 1/5;
    background-color: #D9D9D9;
}

.computer-component[component-data="ram"]{
    grid-column: 4/5;
    grid-row: 1/4;
    margin-top: 10px;
    height: 150px;
    border-radius: 5px;
    width: 30px;
    position: relative;
    z-index: 7;
    background-color: #5B5B5B;
}

.computer-component:hover{
    opacity: 0.9;
}