.game-play-area{
    height: 200px;
}
.center-div-container{
    width: 100%;
    height: 700px;
}
.control-panel{

    padding: 15px;
}
.control-panel h2{
    font-family: MB;
}

.flex-playground {
    background-color: var(--dark-grey);
    border-radius: 10px;
}
.playground-container{
    padding-bottom: 15px;
    border-bottom: 4px solid var(--white-purple);
}