.game-play-area{
    height: 200px;
}
.center-div-container{
    width: 100%;
    height: 500px;
}
.control-panel{
    padding: 15px;
}
.control-panel h2{
    font-family: MB;
}

.flex-playground {
    background-color: var(--dark-grey);
    border-radius: 10px;
}
