.flag-container{
    filter: saturate(0);
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/goals/goal\ 1.svg');
}

.flag-container.completed{
    filter: saturate(1);
}
.flag-container[data-flag-id ="1"] {
    background-image: url('../../assets/goals/goal\ 1.svg');

}
.flag-container[data-flag-id ="2"] {
    background-image: url('../../assets/goals/goal\ 2.svg');
    scale: 0.8;
}
.flag-container[data-flag-id ="3"] {
    background-image: url('../../assets/goals/goal\ 3.svg');
    scale: 0.6;

}
.flag-container[data-flag-id ="4"] {
    background-image: url('../../assets/goals/goal\ 4.svg');
    scale: 0.4;

}
.flag-container.active{
    filter: saturate(1);
}

