.flag-container{
    filter: saturate(0);
    height: 264px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/goals/goal\ 1.svg');
}

.flag-container.completed{
    filter: saturate(1);
}
.flag-container[data-flag-id ="1"] {
    background-image: url('../../assets/goals/goal\ 1.svg');

}
.flag-container[data-flag-id ="2"] {
    background-image: url('../../assets/goals/goal\ 2.svg');
 
}
.flag-container[data-flag-id ="3"] {
    background-image: url('../../assets/goals/goal\ 3.svg');


}
.flag-container[data-flag-id ="4"] {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-image: url('../../assets/goals/goal\ 4.svg');
 

}
.flag-container.active{
    
}

